# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

.yarn/*
tmp/*
public/uploads/*
frontend/assets/*.jpg
#allow tomato.jpg to be uploaded for testing purposes
!frontend/assets/tomato.jpg
.env //JWT_SECRET_KEY generated with `openssl rand -base64 32` 
