<h1>Journal</h1>

<button onClick="window.location='/journals/create';" type="button" class="btn btn-primary mb-3">Create Journal Entry</button>

<%= for (j) in journal { %>
<div class="card mb-3">
  <div class="card-header text-center">
    <%= j.CreatedAt.Format("January 2, 2006") %>
  </div>
  <div class="card-body">
	      <%= if (j.Image != "") { %>
	      <img src= ../uploads/<%= j.Image %> class="card-img-top" alt="...">
	  <% } %>
	  <h5 class="card-title"><%= j.Title %></h5>
	  <p class="card-text"><%= j.Entry %></p>
  </div>
  <div class="card-footer text-body-secondary">
    <%= j.Category.CatStr() %>
  </div>
</div>
	<button onClick="window.location='/journals/update/<%= j.ID %>';" type="button" class="btn btn-primary mb-3">Update Journal</button>
	<%= form_for(journal, {action: journalPath({id: j.ID}), method: "DELETE"}) { %>
		<%= f.SubmitTag("Delete") %>
	<% } %>

<% } %>
