<h1><%= plant.Name %></h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="row">Germinated</th>
			<th scope="row">Days to Harvest</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		<tr>
			<td><%= plant.Germinated %></td>
			<td><%= plant.DaysToHarvest %></td>
		</tr>
		
	</tbody>
</table>

<%= if (len(plant.PlantTags) > 0) { %> 
<div class="card mb-3">
  <div class="card-header">
    Tags
  </div>
  <div class="card-body">
    <%= for (t) in plant.PlantTags { %>
    <p class="badge rounded-pill text-bg-green"><%= t.Name %></p> 
<% } %>
  </div>
</div>
<% } %>
<button onClick="window.location='/plants/update/<%= plant.ID %>';" type="button" class="btn btn-primary mb-3">Update Plant</button>

<!-- TODO: find a better way to manage showing and hidding the watering schedule. -->
<h2 class="text-center">Water Schedule</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
      <th scope="col">Sunday</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td><%= plant.WaterSchedules.Monday %></td>
      <td><%= plant.WaterSchedules.Tuesday %></td>
      <td><%= plant.WaterSchedules.Wednesday %></td>
      <td><%= plant.WaterSchedules.Thursday %></td>
      <td><%= plant.WaterSchedules.Friday %></td>
      <td><%= plant.WaterSchedules.Saturday %></td>
      <td><%= plant.WaterSchedules.Sunday %></td>
    </tr>
      </tbody>
</table>
<p><%= plant.WaterSchedules.Method %> </p>
<p><%= plant.WaterSchedules.Notes %></p>
<button onClick="window.location='/water_schedules/create?plantId=<%= plant.ID %>';" type="button" class="btn btn-primary mb-3">New Water Schedule</button>
<%= for (j) in plant.Journals { %>
<div class="card mb-3">
  <div class="card-header text-center">
    <%= j.CreatedAt.Format("January 2, 2006") %>
  </div>
  <div class="card-body">
	      <%= if (j.Image != "") { %>
	      <img src= ../uploads/<%= j.Image %> class="card-img-top" alt="...">
	  <% } %>
	  <h5 class="card-title"><%= j.Title %></h5>
	  <p class="card-text"><%= j.Entry %></p>
  </div>
  <div class="card-footer text-body-secondary">
    <%= j.Category.CatStr() %>
  </div>
</div>
<button onClick="window.location='/journals/update?journalId=<%= j.ID %>';" type="button" class="btn btn-primary mb-3">Update Journal</button>
<% } %>

<button onClick="window.location='/journals/create?plantId=<%= plant.ID %>';" type="button" class="btn btn-primary mb-3">New Journal Entry</button>

