<h1><%= plant.Name %></h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="row">Germinated</th>
			<th scope="row">Days to Harvest</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		<tr>
			<td><%= plant.Germinated %></td>
			<td><%= plant.DaysToHarvest %></td>
		</tr>
		
	</tbody>
</table>

<%= for (j) in plant.Journals { %>
<div class="card mb-3">
  <div class="card-header text-center">
    <%= j.CreatedAt.Format("January 2, 2006") %>
  </div>
  <div class="card-body">
	      <%= if (j.Image != "") { %>
	  <img src="https://via.placeholder.com/50" class="card-img-top" alt="...">
	  <% } %>
	  <h5 class="card-title"><%= j.Title %></h5>
	  <p class="card-text"><%= j.Entry %></p>
  </div>
  <div class="card-footer text-body-secondary">
    <%= j.Category.CatStr() %>
  </div>
</div>
<% } %>

<button type="button" class="btn btn-primary mb-3">New Journal Entry</button>

<%= if (len(plant.PlantTags) > 0) { %> 
<div class="card">
  <div class="card-header">
    Tags
  </div>
  <div class="card-body">
    <%= for (t) in plant.PlantTags { %>
    <p class="badge rounded-pill text-bg-green"><%= t.Name %></p>
    <% } %>
  </div>
</div>

